@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        hi!
    </div>
    <div>
        <video width="500" src="/media/timelapse_926.mp4" autoplay loop></video>
    </div>
</div>
