@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1 class="display-4">Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" class="form-control" asp-for="SearchTerm" />
        <button class="btn btn-outline-secondary">SEARCH</button>
    </div>
</form>

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant"></partial>
}

<a asp-page=".\Edit" class="btn btn-outline-success">Add New</a>

@section footer{
    <span>@Model.Message - </span>
}